html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
.details_image {
    float: left;
    width:22%;
    margin: 18px;
}
.details_table {
    float: left;
    width: 70%;
    margin: 10px;
}
.movie-image{
    width:100%;
}