
@model RegisterViewModel
@{
    ViewData["Title"] = "Register";
}

<div class="row">
    <div class="col-4 offset-4">
        <h1 class="display-4 border-bottom text-center pb-2">@ViewData["Title"]</h1>


    </div>

</div>
<!--register form-->
<div class="row">
    <div class="col-4 offset-4">
       <form method="post">
           <div asp-validation-summary="ModelOnly" class="text-danger small"></div>
           <div class="form-group mb-3">
               <label  class="form-label">E-mail</label>
                <input asp-for="email" class="form-control" placeholder="fatih@aybu.edu.tr" />
                <span asp-validation-for="email" class="text-danger small"></span>
           </div>
            <div class="form-group mb-3">
                <label asp-for="FullName" class="form-label">Name</label>
                <input asp-for="FullName" class="form-control" placeholder="Fatih" />
                <span asp-validation-for="FullName" class="text-danger small"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="Password" class="form-label">Password</label>
                <input asp-for="Password" type="password" class="form-control" placeholder="password" />
                <span asp-validation-for="Password" class="text-danger small"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="RePassword" class="form-label">Re-Password</label>
                <input asp-for="RePassword" type="password" class="form-control" placeholder="re-password" />
                <span asp-validation-for="RePassword" class="text-danger small"></span>
            </div>
            <div class="form-group d-grid mb-3">
               <button type="submit" class="btn btn-primary d-block">Register</button>

            </div>
       </form>


    </div>

</div>