
@{
    ViewData["Title"] = "Admin Page";
}

<div class="jumbotron text-center">
    <h1 class="display-4">Hello, Master!</h1>
    <p class="lead">This is your cocpit.</p>
    <hr class="my-4">
</div>
<div class="d-flex justify-content-evenly" text-center">
    <a type="button" class="btn btn-primary" asp-area="" asp-controller="Admin" asp-action="AddMovie">Add Movie</a>
    <a type="button" class="btn btn-primary" asp-area="" asp-controller="Admin" asp-action="ListMovies">List Movies</a>
    <a type="button" class="btn btn-primary" asp-area="" asp-controller="Admin" asp-action="ListUsers">List Users</a>
</div>