@{
    ViewData["Title"] = "Update Movie";
}

<div class="jumbotron text-center">
    <h1 class="display-5">@ViewData["Title"]</h1>
    <p class="lead">You can update your movies here.</p>
    <hr class="my-4">
</div>

<form class="row g-3" style="padding-left: 25%; padding-right: 25%">
    <div class="col-12">
        <label for="movieTitle" class="form-label">Movie Title</label>
        <input type="text" class="form-control" id="movieTitle" placeholder="Enter Movie Title">
    </div>

    <div class="col-12">
        <label for="producer" class="form-label">Producer</label>
        <input type="text" class="form-control" id="producer" placeholder="Enter Producer">
    </div>

    <div class="col-12">
        <label for="director" class="form-label">Director</label>
        <input type="text" class="form-control" id="director" placeholder="Enter Director Name">
    </div>

    <div class="col-12">
        <label for="musicDirector" class="form-label">Music Director</label>
        <input type="text" class="form-control" id="musicDirector" placeholder="Enter Music Director">
    </div>

    <div class="col-12">
        <label for="produceIn" class="form-label">Produce In</label>
        <input type="text" class="form-control" id="produceIn" placeholder="Enter Produce In">
    </div>

    <div class="col-12">
        <label for="produceIn" class="form-label">Running Time</label>
        <div class="row">
            <div class="col-md-6">
                <div class="d-flex align-items-center">
                    <label for="inputState" class="form-label me-2">Hour</label>
                    <select id="inputState" class="form-select">
                        <option selected>Choose...</option>
                        <option>...</option>
                    </select>
                </div>
            </div>
            <div class="col-md-6">
                <div class="d-flex align-items-center">
                    <label for="inputState" class="form-label me-2">Minute</label>
                    <select id="inputState" class="form-select">
                        <option selected>Choose...</option>
                        <option>...</option>
                    </select>
                </div>
            </div>
        </div>
    </div>

    <button type="submit" class="btn btn-primary">Update Movie</button>

</form>