@model MovieViewModel
@{
    ViewData["Title"] = "Update Movie";
}

<div class="jumbotron text-center">
    <h1 class="display-5">@ViewData["Title"]</h1>
    <p class="lead">You can update your movies here.</p>
    <hr class="my-4">
</div>

<form method="post" action="@Url.Action("UpdateMovie", "Admin")" class="row g-3" style="padding-left: 25%; padding-right: 25%">
    <div class="col-12">
        <label asp-for="Title" class="form-label">Movie Title</label>
        <input asp-for="Title" type="text" class="form-control" placeholder="Enter Movie Title">
        <span asp-validation-for="Title" class="text-danger small"></span>
    </div>

    <div class="col-12">
        <label asp-for="Producer" class="form-label">Producer</label>
        <input asp-for="Producer" type="text" class="form-control" placeholder="Enter Producer">
        <span asp-validation-for="Producer" class="text-danger small"></span>
    </div>

    <div class="col-12">
        <label asp-for="Director" class="form-label">Director</label>
        <input asp-for="Director" type="text" class="form-control" placeholder="Enter Director Name">
        <span asp-validation-for="Director" class="text-danger small"></span>
    </div>

    <div class="col-12">
        <label asp-for="MusicDirector" class="form-label">Music Director</label>
        <input asp-for="MusicDirector" type="text" class="form-control" placeholder="Enter Music Director">
        <span asp-validation-for="MusicDirector" class="text-danger small"></span>
    </div>

    <div class="col-12">
        <label asp-for="ProduceIn" class="form-label">Music Director</label>
        <input asp-for="ProduceIn" type="text" class="form-control" placeholder="Enter Produce In">
        <span asp-validation-for="ProduceIn" class="text-danger small"></span>
    </div>

    <div class="col-12">
        <label for="produceIn" class="form-label">Running Time</label>
        <div class="row">
            <div class="col-md-6">
                <div class="d-flex align-items-center">
                    <label for="inputState" class="form-label me-2">Hour</label>
                    <select id="inputState" class="form-select">
                        <option selected>Choose...</option>
                        <option>...</option>
                    </select>
                </div>
            </div>
            <div class="col-md-6">
                <div class="d-flex align-items-center">
                    <label for="inputState" class="form-label me-2">Minute</label>
                    <select id="inputState" class="form-select">
                        <option selected>Choose...</option>
                        <option>...</option>
                    </select>
                </div>
            </div>
        </div>
    </div>

    <div class="col-12">
        <div class="d-flex align-items-center">
            <label for="inputState" class="form-label me-2">Type</label>
            <select id="inputState" class="form-select">
                <option selected>Choose...</option>
                <option>Action</option>
                <option>Drama</option>
                <option>Comedia</option>
                <option>Adventure</option>
                <option>Cartoon</option>
            </select>
        </div>
    </div>

    <div class="col-12">
        <label asp-for="Image" class="form-label"></label>
        <input asp-for="Image" type="file" class="form-control">
        <span asp-validation-for="Image" class="text-danger small"></span>
    </div>

    <button type="submit" class="btn btn-primary">Update Movie</button>

</form>