@model MovieViewModel
@{
    ViewData["Title"] = "Update Movie";
}

<div class="jumbotron text-center">
    <h1 class="display-5">@ViewData["Title"]</h1>
    <p class="lead">You can update your movies here.</p>
    <hr class="my-4">
</div>

<form method="post" asp-controller="Admin" asp-action="UpdateMovie" class="row g-3" style="padding-left: 25%; padding-right: 25%" enctype="multipart/form-data">
    <div class="col-12" style="display: none;">
        <input asp-for="Id" value=@ViewData["movieId"] type="text" class="form-control">
    </div>
    
    <div class="col-12">
        <label asp-for="Title" class="form-label">Movie Title</label>
        <input asp-for="Title" type="text" class="form-control" placeholder="Enter movie title">
        <span asp-validation-for="Title" class="text-danger small"></span>
    </div>

    <div class="col-12">
        <label asp-for="Artists" class="form-label">Artists</label>
        <input asp-for="Artists" type="text" class="form-control" placeholder="Enter artists">
        <span asp-validation-for="Artists" class="text-danger small"></span>
    </div>

    <div class="col-12">
        <label asp-for="Director" class="form-label">Director</label>
        <input asp-for="Director" type="text" class="form-control" placeholder="Enter director name">
        <span asp-validation-for="Director" class="text-danger small"></span>
    </div>

    <div class="col-12">
        <div class="d-flex align-items-center">
            <label for="inputState" class="form-label me-2">Rate</label>
            <select asp-for="Rate" id="inputState" class="form-select">
                <option selected disabled>Choose...</option>
                <option>0</option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
            </select>
        </div>
        <span asp-validation-for="Rate" class="text-danger small"></span>
    </div>

    <div class="col-12">
        <label asp-for="ProduceYear" class="form-label">ProduceYear</label>
        <input asp-for="ProduceYear" type="text" class="form-control" placeholder="Enter produce year">
        <span asp-validation-for="ProduceYear" class="text-danger small"></span>
    </div>

    <div class="col-12">
        <label asp-for="Description" class="form-label">Description</label>
        <input asp-for="Description" type="text" class="form-control" placeholder="Enter Description">
        <span asp-validation-for="Description" class="text-danger small"></span>
    </div>

    <div class="col-12">
        <label for="produceIn" class="form-label">Running Time</label>
        <div class="row">
            <div class="col-md-6">
                <div class="d-flex align-items-center">
                    <label for="inputState" class="form-label me-2">Hour</label>
                    <select asp-for="Hour" id="inputState" class="form-select">
                        <option selected disabled>Choose...</option>
                        <option>0</option>
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                    </select>
                </div>
                <span asp-validation-for="Hour" class="text-danger small"></span>
            </div>
            <div class="col-md-6">
                <div class="d-flex align-items-center">
                    <label for="inputState" class="form-label me-2">Minute</label>
                    <select asp-for="Minute" id="inputState" class="form-select">
                        <option selected disabled>Choose...</option>
                        <option>0</option>
                        <option>10</option>
                        <option>20</option>
                        <option>30</option>
                        <option>40</option>
                        <option>50</option>
                    </select>
                </div>
                <span asp-validation-for="Minute" class="text-danger small"></span>
            </div>
        </div>
    </div>

    <div class="col-12">
        <div class="d-flex align-items-center">
            <label for="inputState" class="form-label me-2">Type</label>
            <select asp-for="Type" id="inputState" class="form-select">
                <option selected disabled>Choose...</option>
                <option>Action</option>
                <option>Drama</option>
                <option>Comedia</option>
                <option>Adventure</option>
                <option>Cartoon</option>
            </select>
        </div>
        <span asp-validation-for="Type" class="text-danger small"></span>
    </div>
    
    <div class="col-12">
        <label asp-for="fragman" class="form-label">Fragman</label>
        <input asp-for="fragman" type="text" class="form-control" placeholder="Youtube link">
        <span asp-validation-for="fragman" class="text-danger small"></span>
    </div>

    <div class="col-12">
        <label asp-for="Image" class="form-label"></label>
        <input asp-for="Image" type="file" class="form-control">
        <span asp-validation-for="Image" class="text-danger small"></span>
    </div>

    <button type="submit" class="btn btn-primary">Update Movie</button>

</form>