@model LoginViewModel
@{
    ViewData["Title"] = "Access Denied";
}

<div class="row">
    <div class="col-4 offset-4">
        <h1 class="display-4 border-bottom text-center pb-2">@ViewData["Title"]</h1>


    </div>

</div>
<!--block unautorized user-->
<div class="row">
    <div class="col">
        
        <div class="text-center">
        <a asp-action="Index" asp-controller="Home" class="btn btn-primary">Go to Homepage</a>
        </div>
    
    </div>

</div>